/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-carbonite Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/
process {
    //  defaults for all processes
    resourceLimits = [ cpus: 32, memory: 1020.GB, time: 48.h ]
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = 3
    queueSize=20

    withName: CONCAT_FASTQ {
        cpus = 8
        memory = 16.'GB'
        container = "python:3.12"
    }
    withName: MIXCR {
        errorStrategy = 'ignore'
        container = "pgc-images.sbgenomics.com/angela/mixcr:4.3.2"
        cpus = 16
        memory = 32.GB
        time = 12.h
    }
    withName: STARFUSION {
        container = "pgc-images.sbgenomics.com/angela/starfusion:1.12.0"
        maxRetries = 2
        cpus = 16
        memory =  { 48.GB * task.attempt }
        time = 12.h
    }
    withName: STAR_RSEM {
        container = "pgc-images.sbgenomics.com/angela/star:2.7.8a"
        cpus = 12
        maxRetries = 2
        memory =  { 48.GB * task.attempt }
        time = 12.h
        ext.args = "--alignSJstitchMismatchNmax 5 -1 5 5 --chimJunctionOverhangMin 10 --chimOutType WithinBAM SoftClip --chimScoreDropMax 30 --chimScoreJunctionNonGTAG 0 --chimScoreMin 1 --chimScoreSeparation 1 --chimSegmentMin 10 --chimSegmentReadGapMax 3 --genomeLoad NoSharedMemory --limitOutSJcollapsed 3000000 --outFilterMatchNminOverLread 0.33 --outFilterMismatchNmax 5 --outFilterMultimapNmax 10 --outFilterScoreMinOverLread 0.33 --outFilterType BySJout --outSAMattributes All --outSAMtype BAM Unsorted --outSAMunmapped Within --quantMode TranscriptomeSAM --readFilesCommand zcat --runMode alignReads --runThreadN 10 --twopassMode Basic"
    }
    withName: STAR_TE {
        errorStrategy = 'ignore'
        container = "pgc-images.sbgenomics.com/angela/star:2.7.8a"
        cpus = 12
        memory =  { 48.GB * task.attempt }
        time = 12.h
        ext.args =  "--outFilterMultimapNmax 100 --outSAMattributes All --outSAMtype BAM Unsorted --readFilesCommand zcat --runMode alignReads --runThreadN 10 --sjdbOverhang 100 --winAnchorMultimapNmax 200"
    }
    withName: RSEM {
        container = "pgc-images.sbgenomics.com/angela/rsem:1.3.3.1"
        cpus = 16
        maxRetries = 2
        memory =  { 24.GB * task.attempt }
        time = '12.h'
    }
    withName: PICARD {
        errorStrategy = 'retry'
        container = "pgc-images.sbgenomics.com/angela/picard:2.25.7"
        memory = { 32.GB * task.attempt } 
        cpus = 8
        time = 24.h
    }
    withName: ARRIBA {
        container = "pgc-images.sbgenomics.com/angela/arriba:2.4.0"
        cpus = 8
        maxRetries = 2
        memory =  { 32.GB * task.attempt }
        time = 6.h
    }
    withName: RNAINDEL {
        container = "pgc-images.sbgenomics.com/angela/rnaindel:3.3.0"
        cpus = 8
        memory =  { 32.GB * task.attempt }
        time = 6.h
    }
    withName: ISOFOX {
        container = "pgc-images.sbgenomics.com/angela/isofox:v1.7.1"
        cpus = 16
        memory =  { 64.GB * task.attempt }
        time = 6.h
    }
    withName: FREEBAYES {
        container = "pgc-images.sbgenomics.com/angela/freebayes:1.3.6"
        cpus = 8
        memory =  { 8.GB * task.attempt }
        time = 1.h
    }
    withName: TECOUNT {
        errorStrategy = 'ignore'
        container = "pgc-images.sbgenomics.com/angela/tecount"
        cpus = 2
        memory = 16.GB
        time = 12.h
    }
    withName: ALLSORTS {
        errorStrategy = 'ignore'
        container = "pgc-images.sbgenomics.com/angela/allsorts:0.2.0"
        cpus = 2
        memory = 2.GB
        time = 1.h
    }
    withName: TALLSORTS {
        errorStrategy = 'ignore'
        container = "pgc-images.sbgenomics.com/angela/tallsorts"
        cpus = 2
        memory = 2.GB
        time = 1.h
    }

    withName: GATK_SPLIT_CIGAR {
        errorStrategy = 'ignore'
        container = "pgc-images.sbgenomics.com/angela/gatk:4.5.0.0"
        cpus = 8
        memory =  { 64.GB * task.attempt }
        time = 24.h
    }

    withName: GATK_HAPLOTYPECALLER {
        errorStrategy = 'ignore'
        container = "pgc-images.sbgenomics.com/angela/gatk:4.5.0.0"
        cpus = 16
        memory =  { 64.GB * task.attempt }
        time = 24.h
    }

    withName: ANNOVAR {
        errorStrategy = 'ignore'
        container = "pgc-images.sbgenomics.com/angela/annovar"
        cpus = 16
        memory =  { 64.GB * task.attempt }
        time = 24.h
    }

    withName: MINTIE {
        container = "pgc-images.sbgenomics.com/angela/mintie:0.3.9"
        cpus   = 16
        memory = { 256.GB * task.attempt }
        time = 48.h
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}
